body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #17264D;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

h3 {
    font-size: 2.5rem;
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 10px;
}

.score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #080001;
    color: #F94F6D;
    font-size: 5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 120px;
    margin: 0 auto 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    h3 {
        font-size: 2rem;
    }

    .score {
        font-size: 4rem;
        width: 120px;
        height: 100px;
    }

    .buttons {
        margin-bottom: 20px;
    }

    button {
        font-size: 0.9rem;
        padding: 4px 8px;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 1.5rem;
    }

    .score {
        font-size: 3rem;
        width: 100px;
        height: 80px;
    }

    button {
        font-size: 0.8rem;
        padding: 3px 6px;
    }
}
